<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <style>
    .navbar {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 1.5rem 1rem;
    }
    .roboto-font {
      font-family: 'Roboto', sans-serif;
    }
    .clubs{
      margin: 0 auto; 
      width: 85%; 
      max-width: 1300px; 
    }
    .desc {
      margin: 0 auto; 
      width: 85%; 
      max-width: 1300px; 
      font-size: 1.05rem;
    }
    .ccm {
      margin: 0 auto; 
      width: 85%; 
      max-width: 1300px;
      font-size: 1.05rem;
    }
</style>
    <title>Home</title>
  </head>
  <body>
    
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="">CET_ClubMaster</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
      <div class='corousel'>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          
          <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="https://media.istockphoto.com/id/1312764799/photo/businessman-using-tablet-online-banking-and-payment-digital-marketing-finance-and-banking.jpg?s=2048x2048&w=is&k=20&c=-vBDg729oqDlRjNc8JcewU7B25jl9sIm2TNe7vSVaqI=" class="d-block w-100" alt="..." style="height: 500px">
              </div>
              <div class="carousel-item">
                <img src="https://media.istockphoto.com/id/1346372636/photo/two-red-racing-cars-moving-at-high-speed-along-racetrack-at-sunset.jpg?s=2048x2048&w=is&k=20&c=7QygBG7neAq7j_-Sv2OM1lNf_iVLztMAG3EM2Nv4NoM=" class="d-block w-100" alt="..." style="height: 500px">
              </div>
              <div class="carousel-item">
                <img src="https://media.istockphoto.com/id/1469909644/photo/stock-market-growth-background-online-business-graph.jpg?s=2048x2048&w=is&k=20&c=KEDNl37dWVmX9nxK_ZGksY0BiJU9mW9912Ge88nQ8h0=" class="d-block w-100" alt="..." style="height: 500px">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>

          <div class='about' >
            <h1 class='clubs mt-3  roboto-font' ><strong>Clubs At CET</strong></h1>
            <p class='desc mx-10 mt-3' style="font-weight: 400;"><em>CET hosts a vibrant array of clubs and student organizations that cater to a wide range of interests and talents. These clubs provide students with opportunities to engage in extracurricular activities, develop skills, and collaborate with peers. These include Technical Clubs, Cultural and Arts Clubs, Literary and Debate Clubs, Social Service and Environmental Clubs, Sports Clubs,Entrepreneurship and Innovation.</em></p>
          <p class='ccm mx-10 mt-3 'style="font-weight: 400;"><em>CET_ClubMaster aims to assist students in navigating the diverse club landscape at CET. We provides comprehensive information about each club, including their missions, activities, membership processes, and key contacts. It serves as a one-stop resource for students to explore and join clubs that align with their interests, ensuring they have access to all the basic details they need to make informed decisions about their extracurricular involvement.</em></p>
            </div>

            <div class='college'>
              <h2 class='clubs mt-3 roboto-font'>College of Engineering Trivandrum</h2>
              
              <div class="clubs mt-3"><p><strong>Vision</strong></p>
                <p style="font-weight: 400;"><em>National Level Excellence and International Visibility in Every Facet of Engineering Research and Education.</em></p>
                <p><strong>Mission</strong></p>
                <ul>
                <li><em>To facilitate quality transformative education in Engineering and Management.</em></li>
                </ul>
                <ul>
                <li><em>To foster innovations in Technology and its application for meeting global challenges.</em></li>
                </ul>
                <ul>
                <li><em>To pursue and disseminate Quality Research.</em></li>
                </ul>
                <ul>
                <li><em>To equip, enrich and transform students to be Responsible Professionals for better service to humanity.</em></li>
                </ul>
                </div>
      


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>